.o_record_cover_container {
    box-shadow: inset 0 0 0 1px rgba(white, 0.3);

    padding-top: 33%;
    height: auto!important;
    // This is mandatory as we do not want the CoverProperties
    // sizing classes to be applied here
    min-height: auto!important;

    &:hover .o_record_cover_image {
        opacity: 0.8;
    }

    .o_record_cover_component.o_record_cover_image {
        background-position: top;
    }
}

/** Bliunk animation **/
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.o_text_blink {
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
    color: green;
    animation: blink 1s infinite;
}
